<form>
        <h1>To Do List</h1>
        <p>A place to store the things you have to do!</p>
        <input type="text" placeholder="Filter your to-dos" ng-model="$ctrl.filter">

        <ol> 
            <li ng-repeat="toDo in $ctrl.tasks | filter:$ctrl.filter" ng-class="{strike: toDo.complete === true}">
             <button  class="complete" ng-if="toDo.complete === false" ng-click="$ctrl.completedTask(toDo)">Completed</button> 
            {{toDo.toDo}}
            <button ng-click="$ctrl.removeTask($index)" class="x">X</button>
            </li>
        </ol> 

        <input type="text" placeholder="Add to your to-do" ng-model="$ctrl.newTask" class="more">
        <button class="add" ng-click="$ctrl.addTask()">Add</button>
    </form> 
    <!-- ng-disabled="!$ctrl.filter" -->